extends layout
block content

    .container-fluid
      .main-content
        #list.col-xs-12.col-md-12.col-sm-12
            h3 Services
           
            .line.row.table-header
                .col-md-2.col-12 Type
                .col-md-3.col-12 Time
            each service in services
                .line.row
                    .col-md-2.col-12= service.type.type
                    .col-md-3.col-12= service.time
                    .edit-buttons.align-self-end.col-md-1.col-12
                      .btn.btn-secondary.mr-4(onclick="serviceDetails('" + service._id + "')") Details
                    .edit-buttons.align-self-end.col-md-1.col-12
                      .btn.btn-secondary.mr-4(onclick="deleteService('" + service._id + "')") Delete
                    .edit-buttons.align-self-end.col-md-1.col-12
                      a.btn.btn-secondary.mr-4(href="/services/add/" + service._id) Edit
                    .last.col-md-5.col-12
                    .id.div=service._id
                    .detail.col-xs-12.col-md-12.col-sm-12
                      .line.row.table-header
                        .col-md-2.col-12 First Name
                        .col-md-2.col-12 Last Name
                        .col-md-2.col-12 Email
                        .col-md-2.col-12 Phone Number
                      .line.row
                        .col-md-2.col-12= service.firstName
                        .col-md-2.col-12= service.lastName
                        .col-md-2.col-12= service.email
                        .col-md-2.col-12= service.phoneNumber
                           
            
            
                        
            .row
              .edit-buttons.align-self-end.col-md-4.col-12
                a.btn.btn-secondary.mr-4(href="/services/add") Add
          
                    
       
            
            